<footer>
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div class="single-footer-caption mb-50">
                        <a href="{% url 'contact' %}" class="btn view-btn1">Контакты</a>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="single-footer-caption mb-50">
                        <a href="{% url 'shop' %}" class="btn view-btn1">Покупки</a>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="single-footer-caption mb-50">
                        <a href="{% url 'about' %}" class="btn view-btn1">О нас</a>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row justify-content-center">
                    <div class="section-tittle mb-70 text-center">
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                        <div class="footer-copy-right">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    </div>

            </div>
        </div>
    </div>
</footer>