<div class="header-area">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper">
                <!-- Logo -->
                <div class="logo">
                    <a href="{% url 'home' %}" style="color: #db0303; font-size: 250%"><strong>Watch STORE</strong></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="{% url 'shop' %}">Покупки</a></li>
                            <li><a href="{{ STATIC_URL }}blog.html">Блог</a></li>
                            <li><a href="{% url 'contact' %}">Контакты</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Right -->
                <div class="header-right">
                    <ul>
                        <li>
                            <div class="nav-search search-switch">
                                <span class="flaticon-search"></span>
                            </div>
                        </li>
                        <li><a href="{{ STATIC_URL }}cart.html"><span class="flaticon-shopping-cart"></span></a></li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>