{% extends 'watch/base.html' %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>{{ page.title|upper }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!-- About Details Start -->
<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                {% for about in page.about_about_items.all %}
                    <div class="about-details-cap mb-50">
                        <h4>{{ about.title }}</h4>
                        <p>{{ about.content }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- About Details End -->
{% endblock %}