{% extends 'watch/base.html' %}

{% block title %}
Статья
{% endblock %}

{% block content %}
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>СТАТЬЯ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog' %}">Блог</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Статья</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ news.image.url }}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{ news.created_at|date:"d" }}</h3>
                                <p>{{ news.created_at|date:"M" }}</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="#">
                                <h2>{{ news.title }}</h2>
                            </a>
                            <p>{{ news.content}}</p>
                            <ul class="blog-info-link">
                                <li><a href="" onclick="return false"><i class="far fa-check-square"></i>{{ news.category }}</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}