{% extends 'watch/base.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <!-- Hero Area End-->
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="col-lg-12">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li id="breadcrumb" class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Просмотр товара</li>
                    </ol>
                    {% if success %}
                        <div class="alert alert-warning" role="alert">
                            Товар добавлен в корзину!
                        </div>
                    {% endif %}
                </nav>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <img src="{{ product.image.url }}" alt="">
                        <h3>{{ product.title }}</h3>
                        <br>
                        <table class="table caption-top">
                            <caption style="caption-side: top; text-align: center">Информация о товаре</caption>
                            <tbody>
                            <tr>
                                <th scope="row">Брэнд</th>
                                <td>{{ product.brand }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Категория</th>
                                <td>{{ product.category }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Страна</th>
                                <td>{{ product.country }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Материал корпуса</th>
                                <td>{{ product.case_material }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="card_area">
                            <form action="#" method="post">
                            {% csrf_token %}
                                <div class="product_count_area">
                                    <p>Количество</p>
                                    <div class="product_count d-inline-block">
                                        {{ form.count }}
                                    </div>
                                    {% if product.with_discount %}
                                        <span>{{ product.get_discounted_price }} руб.
                                                <del> {{ product.get_regular_price }} руб.</del></span>
                                    {% else %}
                                        <span>{{ product.get_regular_price }} руб.</span>
                                    {% endif %}
                                </div>
                                <div class="add_to_cart">
                                    <button type="submit" class="genric-btn primary-border">Добавить в корзину</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}