{% extends 'watch/base.html' %}
{% load my_tags %}

{% block title %}
Покупки
{% endblock %}

{% block content %}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Watch Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!-- Latest Products Start -->
<section class="popular-items latest-padding">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Покупки</li>
            </ol>
        </nav>
        <div class="row product-btn justify-content-between mb-40">
            <div class="properties__button">
                <!--Nav Button  -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Все</a>
                        {% get_category as categories %}
                        {% for category in categories %}
                            <a class="nav-item nav-link" id="nav-{{ category.slug }}-tab" data-toggle="tab" href="#nav-{{ category.slug }}" role="tab" aria-controls="nav-{{ category.slug }}" aria-selected="false">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </nav>
                <!--End Nav Button  -->
            </div>
            <!-- Grid and List view -->
            <div class="grid-list-view">
            </div>
        </div>
        <!-- Nav Card -->
        <div class="tab-content" id="nav-tabContent">
         <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {% for watch in product_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                       <a href="{{ watch.get_absolute_url }}#breadcrumb"><img src="{{ watch.image.url }}" alt=""></a>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="{{ watch.get_absolute_url }}#breadcrumb">{{ watch.title }}</a></h3>
                                        {% if watch.with_discount %}
                                            <span><del>{{ watch.get_regular_price }} руб.</del> {{ watch.get_discounted_price }} руб.</span>
                                        {% else %}
                                            <span>{{ watch.get_regular_price }} руб.</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            <!-- card one -->
            {% for category in categories %}
            <div class="tab-pane fade" id="nav-{{ category.slug }}" role="tabpanel" aria-labelledby="nav-{{ category.slug }}-tab">
                <div class="row">
                    {% for watch in category.get_watch %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">
                                <a href="{{ watch.get_absolute_url }}#breadcrumb"><img src="{{ watch.image.url }}" alt=""></a>

                            </div>
                            <div class="popular-caption">
                                <h3><a href="{{ watch.get_absolute_url }}#breadcrumb">{{ watch.title }}</a></h3>
                                {% if watch.with_discount %}
                                    <span>{{ watch.get_discounted_price }} руб.<del> {{ watch.get_regular_price }} руб.</del></span>
                                {% else %}
                                    <span>{{ watch.get_regular_price }} руб.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End Nav Card -->
    </div>
</section>
{% endblock %}